@import "vars.less";
@import "fonts.less";
@import "mixin.less";

@import "blocks/address.less";
@import "blocks/arrows.less";
@import "blocks/btn.less";
@import "blocks/catalog.less";
@import "blocks/container.less";
@import "blocks/copyright.less";
@import "blocks/decorate.less";
@import "blocks/features.less";
@import "blocks/form-order.less";
@import "blocks/icon.less";
@import "blocks/item.less";
@import "blocks/logo.less";
@import "blocks/main-nav.less";
@import "blocks/map.less";
@import "blocks/page-footer.less";
@import "blocks/page-header.less";
@import "blocks/promo.less";
@import "blocks/publication.less";
@import "blocks/reviews.less";
@import "blocks/social-links.less";
@import "blocks/title.less";
@import "blocks/week-item.less";

body {
  margin: 0;
  color: @gray-dark;
  background: @white;
  font-family: @font;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

tr {
  border-bottom: 1px solid @gray;
}
