.address {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 2;
  border-spacing: 30px;
}

.address tr:first-of-type td:nth-child(2) {
  border-bottom: 1px solid @turquoise;
  display: inline-block;
}

.address__field {
  width: 50px;
  vertical-align: top;
}

.address__value {
  display: inline-block;
  padding-right: 0px;
}


@media @tablet-widths {

  .address {
    margin-top: 30px;
  }

  .address__email {}

  .address tbody {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  tr.address__descr {
    flex-direction: row;
    display: flex;
    width: 50%;
    border: 0px;
  }

  .address__field {
    width: 20%;
    vertical-align: top;
  }

  .address tr:first-of-type td:nth-child(2) {
    border-bottom: 1px solid @turquoise;
    height: 25px;
  }

  .address tr:nth-of-type(2) td:nth-child(2) {
    padding-left: 25px;
    padding-right: 70px;
  }
}

@media @desktop-widths {

  .address tbody {
    flex-direction: column;
  }

  .address {
    padding-left: 150px;
  }

  tr.address__descr {
    width: 37%;
    padding-bottom: 30px;
  }

  .address__descr {
    font-size: 16px;
  }
}
