.arrows {
  width: 128px;
  height: 50px;
  float: left;
  border: 1px solid @gray;
}

.arrow-left {
  background: url(/img/icon-left-arrow.svg) no-repeat 50% 50%;
}

.arrow-right {
  border-left: 0px solid @gray;
  background: url(/img/icon-right-arrow.svg) no-repeat 50% 50%;
}
