@media @tablet-widths {

  .container-main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 668px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media @desktop-widths {

  .container-main {
    width: 1050px;
  }
}
