.decorate-gray {
  height: 6px;
  width: 100%;
  background: url(../img/bg-zigzag-line.svg);
  background-size: 300px;
}


@media @tablet-widths {

  .decorate-white {
    height: 30px;
    position: absolute;
    bottom: -15px;
    width: 100%;
    background: url("../img/bg-zigzag-fill.svg");
    background-size: 846px;
    z-index: 2;
  }

  .decorate-gray {
    margin: 69px 0;
    height: 12px;
    background-size: 600px;
  }
}

@media @desktop-widths {

   .decorate-gray {
    height: 22px;
    margin: 71px 0 55px 0;
    background-size: 1100px;
  }
}
