.decorate-gray {
  height: 6px;
  width: 100%;
  background: url(../img/bg-zigzag-line.svg);
  background-size: 300px;
}


@media @tablet-widths {

  .decorate-white {
    height: 30px;
    position: absolute;
    bottom: -15px;
    width: 100%;
    background: url("../img/bg-zigzag-fill.svg");
  }

  .decorate-gray {
    margin: 70px 0;
    height: 12px;
    background-size: 600px;
  }
}
