.icon {
  display: block;
  width: 100%;
  height: 40px;
  float: left;
  margin: 10px 0;
  fill: @turquoise;
}

li:first-child .icon{
  background: url(/img/icon-feature-1.svg) no-repeat;
}

li:nth-child(2) .icon {
  background: url(/img/icon-feature-3.svg) no-repeat;
}

li:nth-child(3) .icon {
  background: url(/img/icon-feature-5.svg) no-repeat;
}

li:nth-child(4) .icon {
  background: url(/img/icon-feature-2.svg) no-repeat;
}

li:nth-child(5) .icon {
  background: url(/img/icon-feature-4.svg) no-repeat;
}

li:nth-child(6) .icon {
  background: url(/img/icon-feature-6.svg) no-repeat;
}
