.icon() {
  display: block;
  width: 100%;
  height: 40px;
  float: left;
  margin: 10px 0;
  fill: @turquoise;
}

.icon {
  &-flower {
    .icon;
    background: url("../img/icon-feature-1.svg") no-repeat;
  }
  &-bill {
    .icon;
    background: url("../img/icon-feature-3.svg") no-repeat;
  }
  &-heart {
    .icon;
    background: url("../img/icon-feature-5.svg") no-repeat;
  }
  &-ball {
    .icon();
    background: url("../img/icon-feature-2.svg") no-repeat;
  }
  &-rocket {
    .icon();
    background: url("../img/icon-feature-4.svg") no-repeat;
  }
  &-box {
    .icon();
    background: url("../img/icon-feature-6.svg") no-repeat;
  }
  &-camera {
    .icon();
    width: 40px;
    margin: 0 30px;
    background: url("../img/icon-video.svg") no-repeat;
  }
  &-play {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 170px;
    width: 100px;
    height: 80px;
    background: url("../img/icon-play.svg") no-repeat;
  }
  &-video {
    display: flex;
    justify-content: space-around;
  }
  &-phone {
    .icon();
    position: absolute;
    right: 5px;
    top: -5px;
    width: 25px;
    height: 25px;
    margin: 0;
    background: url("../img/icon-phone.svg") no-repeat;
  }
  &-mail {
    .icon();
    position: absolute;
    right: 0;
    top: -5px;
    width: 35px;
    height: 30px;
    margin: 0;
    background: url("../img/icon-mail.svg") no-repeat;
  }
}

@media @tablet-widths {

  .icon {
    &-camera {
      margin-right: 20px;
    }
    &-phone {
      top: 20px;
      right: 25px;
    }
    &-mail {
      top: 20px;
      right: 20px;
    }
  }
}


