.item {
  border: 1px solid @gray;
}

div.item > h3, div.item > p, div.item > span {
    padding: 0 20px;
  }

.item__features {}

.item__name {}

.item__order {}

.item__price {
  font-weight: bold;
}
