.map {
  width: 320px;
  display: flex;
  justify-content: center;
}

.map img {
  /*width: 100%;*/
}

@media @tablet-widths {

  .map {
    width: 768px;
    height: 457px;
  }

  .map img {
    position: absolute;
    left: 0;
  }
}

@media @desktop-widths {

  .map {
    width: 50%;
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    justify-content: flex-start;
  }

  .map img {
    position: relative;
  }
}
