.page-header {
  border-bottom: 1px solid @gray;
}

.page-header {

}

@media @tablet-widths {

  .page-header {
    position: relative;
    min-height: 80px;
  }
}

@media @desktop-widths {

  .page-header {
    padding-bottom: 648px;
  }
}
