.page-header {
  border-bottom: 1px solid @gray;
}

@media @tablet-widths {

  .page-header {
    height: 88px;
    border-bottom: 1px solid @gray;
  }
}

@media @desktop-widths {

  .page-header {}
}
