.page-header {
  border-bottom: 1px solid @gray;
}

@media @tablet-widths {

  .page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 80px;
    padding: 0 50px;
  }
}

@media @desktop-widths {

  .page-header {
    padding-bottom: 648px;
  }
}
