.promo {}

.promo__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f9f9f9;
}

.promo__main {
  display: flex;
  justify-content: center;
  height: 220px;
  font-size: 26px;
  font-weight: bold;
}

.promo__slogan {
  position: absolute;
  top: 0px;
  width: 100%;
  color: @black;
  line-height: 1.3;
  text-align: center;
}

.promo__link {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background: @turquoise;
  text-decoration: none;
  color: @white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
}

.promo__link--first::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  right: 0px;
  background: url("../img/icon-interior.svg") no-repeat 50% 50%;
}

.promo__link--second::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 80px;
  height: 60px;
  right: 0px;
  background: url("../img/icon-toy.svg") no-repeat 100% 100%;
}

.promo__link--second {
  background: @turquoise-dark;
}

@media @tablet-widths {

  .promo {
  position: relative;
  }

  .promo__main {
    position: relative;
    width: 100%;
    height: 400px;
    /*background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;*/
  }

  .promo__main img {
    width: 93%;
    margin: auto;
    height: 373px;
    display: flex;
  }

  .promo__slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #000000;
    line-height: 1.3;
    text-align: center;
    font-size: 36px;
}

  .promo__links {
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
  }

  .promo__link--first, .promo__link--second {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .promo__link--first::after, .promo__link--second::after {
    display: flex;
    content: "";
    width: 80px;
    height: 60px;
  }
}
