.reviews {}

.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.reviews__title {}

.reviews__author-link {}

.reviews__data {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.reviews__author-name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: @black;
}

.reviews__item {
  font-size: 16px;
  line-height: 2;
  margin: 0;
}

.reviews__write {
  margin: 15px 0;
}

@media @tablet-widths {

  .reviews {
    background: url("../img/review@1x.jpg") no-repeat;
  }

  .reviews__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px;
  }

  .reviews__item {
    font-size: 17px;
    order: 2;
  }

  .reviews__title {
    width: 60%;
  }

  .reviews__write {
    width: 30%;
    margin-top: 0px;
  }

  .reviews__author-name, .reviews__author-link {

  }

  button {
    border-width: 0px;
  }

  .reviews__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    order: 3;
  }
}
