.reviews {
  height: 100%;
}



.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  padding-top: 0;
}

.reviews__container img {
  display: none;
}

.reviews__title {
  width: 100%;
}

.reviews__author-link {}

.reviews__data {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
}

.reviews__author-name {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.3px;
  color: @black;
}

.reviews__item {
  font-size: 15px;
  padding-top: 7px;
  line-height: 2;
  margin: 0;
}

.reviews__write {
  width: 100%;
  margin: 15px 0;
}

@media @mobile-widths-only {

 .reviews img {
    display: none;
  }
}

@media @tablet-widths {

  /*.reviews {}
    background: url("../img/review@1x.jpg") no-repeat;
  }*/

  .reviews {
    height: 480px;
    position: relative;
  }

  .reviews img {
    width: auto;
    position: absolute;
    left: 0;
  }

  .reviews__top {
    position: absolute;
  }

  .reviews .container-main {
    justify-content: space-between;
  }

  .reviews__container img {
    display: flex;
    position: absolute;
    width: 46%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .reviews__item {
    font-size: 17px;
    order: 2;
    z-index: 1;
    line-height: 1.8;
    padding-top: 0;
    -webkit-margin-before: 0;
  }

  .reviews__title {
    width: 73%;
    z-index: 1;
    padding-top: 73px;
  }

  .reviews__write {
    width: 26%;
    margin: 0;
    margin-top: 79px;
  }

  .reviews__author-name {
    font-size: 15px;
    line-height: 3;
  }

  .reviews__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    order: 3;
    z-index: 1;
    margin: 0;
    margin-bottom: 45px;
  }
}

@media @desktop-widths {

    .reviews {
      height: 457px;
      padding: 1px 50px;
    }

    .reviews__title {
      padding-top: 63px;
    }

    .reviews .container-main {
      width: 880px;
      padding-left: 171px;
      padding-right: 0;
    }

    .reviews__container img {
      width: 30%;
      left: 50px;
    }

    .reviews__container {
      padding: 63px 50px 50px 220px;
    }

    .reviews__item {
      width: 88%;
      padding-top: 25px;
      padding-left: 4px;
      line-height: 1.8;
    }

    .reviews__data {
      margin-bottom: 130px;
    }

    .reviews__write {
      width: 20%;
      margin-top: 76px;
    }
}
