.social {
  height: 100%;
  background: @gray;
}

.social__link {
  width: 260px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #E5E5E5;
  &--tw {
    .social-icon;
    background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
  }
  &--in {
    .social-icon;
    background: url("../img/icon-insta.svg") no-repeat 50% 50%;
  }
  &--fb {
    .social-icon;
    background: url("../img/icon-fb.svg") no-repeat 50% 50%;
  }
}
