.social-links {
  width: 260px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-bottom: 1px solid #E5E5E5;
}

.social-link {
  width: 30px;
  height: 30px;
  padding: 20px;
  font-size: 0;
}

.social-link--tw {
  display: inline-block;
  background: url(/img/icon-twitter.svg) no-repeat 50% 50%;
}

.social-link--in {
  display: inline-block;
  background: url(/img/icon-insta.svg) no-repeat 50% 50%;
}

.social-link--fb {
  display: inline-block;
  background: url(/img/icon-fb.svg) no-repeat 50% 50%;
}
