.week-item {
  display: flex;
  flex-direction: column;
}

.week-item__container {}

.week-item__top {
  padding-top: 26px;
  padding-bottom: 10px;
}

.week-item__title {}

.week-item__label {
  color: @turquoise;
  text-transform: uppercase;
  font-weight: bold;
}

.week-item__intro {
  line-height: 1.6;
  font-size: 15px;
}

.week-item__desc {
  width: 100%;
  margin-top: 17px;
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
}

.week-item__field {
  padding-left: 0;
}

.week-item__value {
  padding-left: 17px;
}

.week-item__foto {
  display: flex;
  justify-content: center;
}

.week-item__foto img {
    width: 100%;
    height: auto;
}

.week-item__price {
  display: block;
  padding: 26px 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}

@media @tablet-widths {

  .week-item__container {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 0;
    padding-top: 6px;
    height: 412px;
  }

  .week-item__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    width: 100%;
  }

  .week-item__intro {
    font-size: 17px;
  }

  .week-item__label {
    order: 1;
    width: 10%;
    text-align: center;
    align-self: center;
    padding-right: 25px;
    font-size: small;
  }

  .week-item__middle, .week-item__bottom {
    width: 44%;
  }

  .week-item__foto {
    display: flex;
    justify-content: flex-start;
    order: 1;
    padding-top: 8px;
    padding-left: 40px;
    width: 50%;
  }

  .week-item__price {
    padding: 33px 0;
    font-size: 19px;
  }

  .week-item__container p {
    margin: 0;
    line-height: 1.8;
  }

  .week-item__desc {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .week-item__value {
    padding-left: 0px;
  }
}

@media @desktop-widths {

  .week-item__container {
    height: 477px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0 50px;
  }

  .week-item {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-top: 65px;
  }

  .week-item__top {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 1;
    padding-left: 47px;
    padding-top: 47px;
    padding-bottom: 43px;
  }

  .week-item__foto {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
  }

  .week-item__label {
    width: 8%;
    padding-right: 0;
    font-size: 18px;
    line-height: 1;
  }

  .week-item__middle, .week-item__bottom {
    width: 28%;
    padding-left: 13%;
  }

  .week-item__title {
    width: 85%;
    padding-left: 4%;
    font-size: 51px;
  }

  .week-item__container p {
    line-height: 1.9;
    font-size: 16px;
  }

  .week-item__desc {
    font-size: 16px;
    margin-top: 46px;
  }

  .week-item__desc tr {
    line-height: 2.3;
  }
}
