.week-item {
  display: flex;
  flex-direction: column;
}

.week-item__container {
  padding: 0 30px 30px;
}

.week-item__top {
  padding: 30px;
  padding-bottom: 10px;
}

.week-item__title {}

.week-item__label {
  color: @turquoise;
  text-transform: uppercase;
  font-weight: bold;
}

.week-item__intro {
  line-height: 1.6;
  font-size: 15px;
}

.week-item__desc {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-size: 15px;
}

.week-item__field {
  padding-left: 0;
}

.week-item__value {
  padding-left: 10px;
}

.week-item__foto {
  display: flex;
  justify-content: center;
}

.week-item__foto img {
    width: 100%;
    height: auto;
}

.week-item__price {
  display: block;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}

@media @tablet-widths {

  .week-item__container {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    padding: 0 50px;
    height: 407px;
  }

  .week-item__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }

  .week-item__intro {
    font-size: 17px;
  }

  .week-item__label {
    order: 1;
    width: 10%;
    text-align: center;
    align-self: center;
    padding-right: 25px;
    font-size: small;
  }

  .week-item__middle, .week-item__bottom {
    width: 44%;
  }

  .week-item__foto {
    display: flex;
    justify-content: flex-start;
    order: 1;
    width: 44%;
  }

  .week-item__price {
    font-size: 22px;
  }

  .week-item__container p {
    margin: 0;
  }
}

@media @desktop-widths {

  .week-item__container {
    height: 470px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 0 50px;
  }

  .week-item {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    padding-top: 50px;
  }

  .week-item__top {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    z-index: 1;
    padding-left: 50px;
    padding-top: 50px;
  }

  .week-item__foto {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 61px;
    right: 0;
  }

  .week-item__label {
    width: 12%;
    padding-right: 0;
    font-size: 18px;
    line-height: 1;
  }

  .week-item__middle, .week-item__bottom {
    width: 30%;
    padding-left: 14%;
  }

  .week-item__title {
    width: 85%;
    padding-left: 2%;
    font-size: 57px;
  }

  .week-item__container p {
    line-height: 2;
    font-size: 19px;
  }

  .week-item__desc {
    font-size: 16px;
  }
}
